<header class="content">
    <ul class="content__menu">
        <li>
            <a [routerLink]="['']" >
                {{ "Gustavo's Store" | uppercase}}
            </a>
        </li>
        <li>
            <a [routerLink]="['login']">
                Entrar
            </a>
        </li>
    </ul>
    <div class="content__user">
        <div class="content__user__info">
            <h3>Gustavo Alexandre</h3>
        </div>
        <div class="content__user__image">
            <img src="https://avatars.githubusercontent.com/u/92377652?v=4" alt="">
        </div>
    </div>
</header>